/* DEFAULTS */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;

}

/* LAYOUT */

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        ". . . . . . . . . . . ."
        ". h h h h h h h h h h ."
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";
    gap: 1rem;
}

header {
    grid-area: h;
}

main {
    grid-area: m;
}

footer {
    grid-area: f;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    /* padding: 1.5em 3em; */
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.logo-wrapper i {
    font-size: 1.75em;
}

.logo-wrapper p {
    font-size: 20px;
    font-weight: 700;
}

header ul {
    display: flex;
    gap: 2em;

    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    font-weight: 600;
}

/* MAIN */

.btn-view-more {
    margin: 0 auto;
    background-color: whitesmoke;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

/* FOOTER */

footer {
    background-color: #202020;
    padding: 1.5em;
    text-align: center;
}

footer .footer-name {
    color: whitesmoke;
    font-size: 12px;
    font-weight: 700;
}

footer .footer-copyright {
    color: #D7D7D7;
    font-size: 12px;
    font-weight: 400;
}